<!DOCTYPE html>
<html>
  <head>
    <title>Russian swing events calendar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=5uo1teicmatasqud91oku3710c%40group.calendar.google.com&amp;color=%235229A3&amp;src=7url9f0d98lr2co9o02i53scbs%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Europe%2FMoscow" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe> 
    <p>Want to be admin? send email to <a href='mailto:mail@vogre.ru'>mail@vogre.ru</a></p>
  </body>
</html>
