<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href='/stylesheets/fullcalendar.min.css' rel='stylesheet' />
    <link href='/stylesheets/fullcalendar.print.css' rel='stylesheet' media='print' />
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/bw-theme.css" rel="stylesheet" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <script src='/script/moment.min.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src='/script/fullcalendar.min.js'></script>
    <script src='/script/fullcalendar.ru.js'></script>
    <script src='/script/gcal.js'></script>
    <script src="/script/bootstrap.min.js"></script>

    <script>
        moment.locale('ru');
        //anchor jumping
        function jump(h) {
            var top = document.getElementById(h).offsetTop; //Getting Y of target element
            window.scrollTo(0, top);                        //Go there.
        };
        function hideEventDetails() {
            // opens events in a new tab
            $('#eventdetails').collapse('hide');
            $('#addevent').collapse('show');
            jump('site-footer');
        }
        function linkify(inputText) {
            var replacedText, replacePattern1, replacePattern2, replacePattern3;

            //URLs starting with http://, https://, or ftp://
            replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
            replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');

            //URLs starting with "www." (without // before it, or it'd re-link the ones done above).
            replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
            replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');

            //Change email addresses to mailto:: links.
            replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
            replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');

            return replacedText;
        }
    </script>
    <script>
        var calendar = <%-JSON.stringify(calendar)%>;
        // Setup calendar
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                lang: "ru",
                header: {
                    right: 'prev,next today',
                    center: 'title',
                    left: 'month,agendaWeek'
                },
                googleCalendarApiKey: 'AIzaSyDvpgbAwUHo68SmeK-q9fvt9X69lJaFrhQ',

                // Source calendars
                eventSources: calendar.calendars,

                eventClick: function (event) {
                    var eventlocation = event.location;
                    var eventdates = event.start.format('LL');
                    var eventdateend = event.end.format('LL');
                    if (eventdates != eventdateend)
                        eventdates = eventdates + " - " + eventdateend;
                    $('#addevent').collapse('hide');
                    $('#event-title').text(event.title);
                    if (event.description) {
                        $('#event-description').html(linkify(event.description));
                        $('#event-description').show();
                    }
                    else
                    {
                        $('#event-description').hide();
                    }
                    $('#event-dates').text(eventdates);
                    $('#event-url').attr('href', event.url);
                    if (event.location) {
                        $('#event-location-text').text(event.location);
                        $('#event-location').show();
                    }
                    else {
                        $('#event-location-text').text('');
                        $('#event-location').hide();
                    }


                    var disqus_identifier = event.id;
                    var disqus_title = event.title;
                    var disqus_url = event.url;
                    /* * * Disqus Reset Function * * */
                     DISQUS.reset({
                            reload: true,
                            config: function () {
                                this.page.identifier = disqus_identifier;
                                this.page.url = disqus_url;
                                this.page.title = disqus_title;
                            }
                     });
 

                    $('#eventdetails').collapse('show');

                    jump('site-footer'); return false;
                },

                loading: function (bool) {
                    $('#loading').toggle(bool);
                }

            });

            // Enabling Popover (hidden content and title capturing)
            $("[data-toggle=popover]").popover({
                html: true,
                content: function () {
                    return $('#addEventBody').html();
                },
                title: function () {
                    return $('#addEventTitle').html();
                },
                template: '<div class="popover" role="tooltip" style="width: 500px;"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"><div class="data-content"></div></div></div>'
            });

        });

        // Setup collapse

        $(".collapse").collapse();


    </script>

</head>
<body>

    <div class="container">
        <header id="site-header">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="logo">
                        <h1><a href='/'><b>RU</b> Swing Dance Events</a></h1>
                    </div>
                </div><!-- col-md-4 -->
                <div class=" col-lg-3 col-md-4 col-sm-5 col-xs-0">
                    <nav class="main-nav" role="navigation">
                        <div class="navbar-header">
                            <button type="button" id="trigger-overlay" class="navbar-toggle">
                                <span class="ion-navicon"></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="cl-effect-11"><a href="#add" data-hover="Добавить" onclick="hideEventDetails();">Добавить</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div><!-- col-md-8 -->
            </div>
        </header>
    </div>
    <div class="container">
        <div class="row page">
            <div class="col-lg-9 col-md-9">
                <!--<div id='loading'>loading...</div>-->

                <div id='calendar'></div>
            </div>
            <div class="col-lg-3 col-md-3">
                <ul id='calendar-list' class='nav nav-pills nav-stacked'>
                    <li class='<%=route=='default' ? 'active' : ''%>'>
                        <a href='/'>Вся россия и мир</a>
                    </li>
                    <li class='<%=route=='moscow' ? 'active' : ''%>'>
                        <a href='/calendar/moscow'>Москва</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row collapse page" id="addevent">
            <div class="col-lg-10 col-md-11">
                <header class="entry-header">
                    <h2 id="addEventTitle" class="entry-title">
                        <a name="add"></a>Добавить событие.
                    </h2>
                </header>
                <div id="addEventBody">
                    <ol>
                        <li>Заведите аккаунт в гугле, если еще не.</li>
                        <li><a href="mailto:mail@vogre.ru">Попросите</a> добавить вас в админы календаря.</li>
                        <li><a href="https://www.google.com/calendar/render?cid=5uo1teicmatasqud91oku3710c%40group.calendar.google.com&cid=7url9f0d98lr2co9o02i53scbs%40group.calendar.google.com#main_7" target="_blank">Откройте календарь по ссылке</a> и добавляйте события.</li>
                    </ol>
                </div>
                <header class="entry-header">
                    <h2 id="addEventTitle" class="entry-title">
                        <a name="add"></a>Добавить календарь.
                    </h2>
                </header>
                <div id="addEventBody">
                    <ol>
                        <li>Создайте календарь на <a href='http://calendar.google.com'>calendar.google.com</a>.</li>
                        <li>Откройте общий доступ к календарю, как показано на картинке: 
                        <div><img style='margin: 10px 0; padding: 10px; border: solid 1px #ccc' src="/images/share-man.png"/></div>
                        </li>
                        <li>
                            <a href="mailto:mail@vogre.ru">Перешлите нам</a> код для вставки календаря.    
                            <div><img style='margin: 10px 0; padding: 10px; border: solid 1px #ccc' src="/images/share-man-2.png"/></div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row collapse top-buffer" id="eventdetails">
            <div class="col-lg-10 col-md-11">
                <header class="entry-header">
                    <h2 class="entry-title">
                        <div id="event-title"></div>
                        <div id="event-dates"></div>
                    </h2>
                </header>
                <div>
                    <ul style="list-style:square">
                        <li id="event-location"><span id="event-location-text"></li>
                        <li id="event-description"></li>
                        <li><a href="#" target="_blank" id="event-url">Открыть в календаре</a></li>
                    </ul>
                </div>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * DISQUS CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'swingdanceeventsru';
                    var disqus_identifier = '0';
                    var disqus_title = 'Главная';
                    var disqus_url = 'index';
                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function () {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        $('#disqus_thread').append(dsq);
                    })();
                </script>
            </div>
        </div>
        <footer id="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright">&copy; 2015 Vogre &amp; Co</p>
                    </div>
                </div>
            </div>
        </footer>
        <a href="https://github.com/vogrelord/swingdanceevents.ru"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"></a>

</body>
</html>
