body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.world-event {
    color: #fff;
    background-color: #4cae4c;
    border: 1px solid #4cae4c;
}
